.mainbody {
    height: 150px;
    background: #ECF3FA;
    border-radius: 8px;
    border: 1px solid black;
    padding: 10px;
}

.eventNamefield {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    color: #6B7383;
}

.eventName {
    font-family: Tahoma;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    color: #0C243A;
    margin-top: 5px;
}

.clubName {
    font-family: Tahoma;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    color: #0C243A;
    margin-top: 25px;
}

.appdeadfield {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    color: #6B7383;
}

.landCardRightCol {
    text-align: right;
    display: flex;
    flex-direction: column;
}

.landCardDateBoxes {
    background: #0C243A;
    border-radius: 3px;
    font-family: Tahoma;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    margin-right: 8px;
    padding: 1px 5px;
    /* identical to box height */
    color: #FFFFFF;
}

.linkbox {
    background: #185FA0;
    border-radius: 4px;
    font-family: Tahoma;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */
    text-decoration: none;
    padding: 5px;
    color: #FFFFFF;
}

.linkbox:hover {
    color: white;
}