@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;800&family=Roboto:wght@700;800&display=swap');
body {
    overflow-x: hidden;
}

.topDiv {
    background-image: url(./bg.JPG);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 55px;
}

.loginbtn {
    background: #2E475F;
    border-radius: 6px;
    color: white;
    margin-right: 20px;
}

.logo {
    text-align: center;
}

.navbar {
    padding-top: 32px;
    background-color: #BDD9F2;
}

.logbrandhead {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 64px;
    line-height: 75px;
    color: #0C243A;
    margin-top: 10px;
}

.logbrandsub {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 35px;
    color: #0C243A;
}

.longtext {
    /* width: 1000px; */
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    color: #2E475F;
    padding: 20px 40px;
}

.eventHead {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 3em;
    text-align: center;
    padding-top: 25px
}